.dialog-bg{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.3);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
}

.dialog{
    width:380px;
    background:white;
    border-radius:10px;
    overflow:hidden;
}

.dialog-title{
    background:var(--primary);
    color:white;
    padding:14px;
    font-weight:bold;
}

.dialog-body{
    padding:30px;
}

.dialog-footer{
    padding:15px;
    text-align:right;
}