.grid{
    width:100%;
    border-collapse:collapse;
    background:white;
}

.grid-box{
    background:#fff;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.grid th{
    background:#1191D0;
    color:white;
    padding:10px;
    border:1px solid #ddd;
    text-align:center;
}

.grid td{
    padding:9px;
    border:1px solid #e5e5e5;
}

.grid tbody tr:hover{
    background:#F5FAFF;
}

.grid tbody tr:nth-child(even){
    background:#fbfbfb;
}

.grid-wrap{
    display:flex;
    flex-direction:column;
    height:100%;
    border:1px solid #dcdcdc;
    background:#fff;
}

.grid-header{
    overflow:hidden;
    border-bottom:1px solid #ddd;
}

.grid-body{
    flex:1;
    overflow:auto;
}

.grid-footer{
    height:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 12px;
    border-top:1px solid #ddd;
    background:#fafafa;
    font-size:13px;
}

/* Header 고정 */
.grid-body table{
    border-collapse:collapse;
    width:100%;
}

.grid-body thead th{
    position:sticky;
    top:0;
    background:#F4F6F8;
    z-index:20;
}

/* Hover */
.grid-body tbody tr:hover{
    background:#EDF6FF;
}

/* 선택 */
.grid-row-selected{
    background:#DCEEFF !important;
}

/* Checkbox */
.grid-check{
    width:18px;
    height:18px;
}


#tblData{
    width:100%;
    border-collapse:collapse;
}

#tblData th{
    background:#f7f8fa;
    height:42px;
    border-bottom:1px solid #ddd;
}

#tblData td{
    height:42px;
    text-align:center;
    border-bottom:1px solid #eee;
}

#tblData tr:hover{
    background:#f5fbff;
}

.gridArea{
    height:350px;
    overflow-y:auto;
    border:1px solid #cfcfcf;
}

.popupGrid{
    flex:1;
    overflow-y:auto;
    border:1px solid #cfcfcf;
    margin-top:6px;
}

#tblPopup{
    width:100%;
    border-collapse:collapse;
}

#tblPopup thead th{
    position:sticky;
    top:0;
    background:#0e7fb7;
    z-index:10;
}


.paging{
    margin-top:20px;
    text-align:center;
}

.page-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.page-title h2{
    margin:0;
    font-size:26px;
}

.page-title span{
    color:#888;
}